<div class="card mt-4">
    <div class="card-body">
        <h1>¿De qué se trata?</h1>
        <p>¿Alguna vez has sentido la necesidad de tener un lugar donde anotar tus pendientes y tareas? Con Notes App, puedes registrarte y se te asignará un tablero personalizado donde podrás organizar tus pendientes. Toda la información será guardada de forma segura y solo podrás acceder tú, ya que tus claves estarán encriptadas. ¿Qué esperas? ¡Inicia esta nueva experiencia ahora!</p>
        <a href="/users/signin" class="btn btn-primary btn-sm">Conoce un poco más...</a>
    </div>
</div>