<div class="jumbotron mt-4 bg-white" style="padding: 25px;">
    <h1 class="display-4">¡Bienvenido al Proyecto Notes APP!</h1>
    <p class="lead">Hemos utilizado tecnologías como React, MongoDB, Express, entre otras herramientas, para este emocionante proyecto.</p>
    <hr class="my-4">
    <p>Regístrate como usuario, valida tu cuenta y comienza a escribir tus notas y tareas. Tendrás la capacidad de editarlas y eliminarlas según tus necesidades.</p>
    <a href="/about" class="btn btn-primary btn-lg">Conoce un poco más...</a>
</div>